# Build results
bin/
obj/
out/
Debug/
Release/
x64/
x86/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# System files
Thumbs.db
Desktop.ini

# Package restore
*.nupkg
*.snupkg
*.nuspec
packages/

# Dotnet tools
.dotnet-tools/

# Test results
TestResult*/
*.TestResults.xml

# Publish output
publish/
